.about-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    height: 90vh;
    overflow: auto;
}

.container-1 {
    margin: 2em auto auto 1em;
}

.container-1 > img {
    max-height: 50vh;
}

.container-2 {
    margin: 32px auto auto 1em;
    max-width: 30vw;
}

.container-3 {
    margin: 2em auto auto 1em;
    max-width: 30vw;
}

.about-text {
    margin: 2em auto 3em auto;
}

.about-link {
    display: flex;
    margin-top: 1em;
}

.about-link:hover {
    cursor: pointer;
}

.featured-link {
    color: black;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}

.about-link-text {
    font-size: 0.8rem;
    color: black;
    margin: auto auto auto 0.4em;
}

.about-link-image > img {
    height: 0.6em;
    width: 0.8em;
}

.featured {
    margin: 2em auto 3em auto;
}

.honours {
    margin: 2em auto 3em auto;
}

.honours-list {
    margin-top: 1em;
}

.honours-list > li {
    margin-bottom: 1em;
}

ul {
    list-style: none;
    margin-left: -2em;
    margin-top: 1em;
}


@media only screen and (max-width: 800px) {
    .about-container {
        margin-top: 4em;
        flex-direction: column;
    }
    
    .container-1 > img {
        max-height: 30em;
        max-width: 20em;
        margin: auto;
    }
    
    .container-1 {
        margin: 2em auto 1em auto;
        max-width: 80vw;
    }
    .container-2 {
        margin: 1em auto;
        max-width: 80vw;
    }
    
    .container-3 {
        margin: 1em auto;
        max-width: 80vw;
        font-size: 0.8rem;
    }

    .about-link-container {
        display: flex;
        flex-direction: column;
    }
}