.project-container {
    display: flex;
    flex-direction: column;   
    width: 100%;
    height: 95vh;
    overflow: auto;
    margin-top: 1em;
}

ul {
    margin-block-start: 0;
}

.header {
    display:flex;
    flex-direction: row;
}

.details-container {
    display: flex;
    flex-direction: row;
    margin:auto;
    width: 100%;
}

.details-container > div {
    margin: 2em auto;
    max-width: 40%;
}

.title-title {
    text-transform: uppercase;
    margin: 0 auto 2em 0;
    font-weight: 600;
}

.title-date {
    font-size: 1rem;
    margin-bottom: 2em;
}

.title-awards {
    font-size: 1rem;
    margin-bottom: 2em;
    margin-left: -1.5em;
}
.title-people {
    font-size: 1rem;
    margin-left: -0.5em;
}

.title-people-bold {
    font-weight: 600;
}

.summary-box {
    font-size: 1rem;
    max-height: 24em;
    overflow: auto;
}

.works-container {
    width: 100%;
    justify-content: center;
}

.works-container > div > div {
    margin: auto !important;
}
.works-container > div > div > div > ul{
    width: fit-content;
    margin: auto;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
    margin: 1em;
}

.nav {
    color: black;
    display: flex;
}

.navLink {
    text-decoration: none;
}

@media only screen and (max-width: 800px) {
    .project-container {
        margin-top: 4em;
        height: 90vh;
    }

    .details-container > div {
        max-width: 50%;
        margin: 1em;
    }

    .title-box {
        margin-left: 2em;
    }
  }