.sidebar {
    display: flex;
    flex-direction: column;
}
.name-container {

}

.name {

}

.link-container {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .sidebar {
        flex-direction: row;
    }

    .link-container {
        flex-direction: row;
    }
  }